<ul class="{{ item.childrenAttributes.class }}">
    {% for child in item.children %}
        {% if child.displayed %}
            {% if child.uri and not child.getAttribute('disabled') %}
                <li class="{{ child.getAttribute('class') }}">
                    <a href="{{ child.uri }}" class="{{ child.linkAttributes.class }}">
                        {% if child.extra('icon') %}
                            <i class="{{ child.extra('icon') }}"></i>
                        {% endif %}
                        <span>{{ child.label }}</span>
                    </a>
                </li>
            {% else %}
                <li class="{{ child.getAttribute('class') }}">
                    <span class="nav-label">{{ child.label }}</span>
                </li>
            {% endif %}
        {% endif %}
    {% endfor %}
</ul>
